extends layout

block content
  br
  br
  .container
    if (users.length > 0)
      table.table.table-striped
        th Id
        th Nombre
        th Email
        each user in users
          tr.success
            td= user.id.substring(1, 8)
            td
              a(href="/users/"+ user.id) #{user.username}
            td= user.email