doctype html
html
  head
    title SANTANDER
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      h1 SANTANDER
      if (!current_user)
        a(href="/login") Login
        br
        a(href="/register") Register
      if (current_user)
        a(href="/users/"+ current_user.id)
          img(alt='cosas' , src="#{current_user.image}", height="50", width="50")
        p You are currently logged in as  
          a(href="/users/"+ current_user.id) #{current_user.username} 
          | click <a href='/logout'> here</a> to logout.
    br
    br
    .container.errors
      h2= errores   
    block content


  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(src='javascripts/angular.min.js')